<%= form_for @person do |f| %>
  <div class="form-control">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-control">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <div class="form-control">
    <%= f.label :schedule %>
    <%= f.text_area :schedule %>
  </div>

  <div class="form-control">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>
