<article class="person">
  <section class="person-head">
    <h1><%= @person.name %></h1>
    <small>
      <time><%= @person.created_at.to_date.strftime("%d %B, %Y") %></time>
      |
      <%= link_to 'Изменить', edit_person_path(@person) %>
      |
      <%= link_to 'Удалить', person_path(@person), method: :delete, data: { confirm: 'Вы уверены?' } %>
   </small>
  </section>

   <section class="person-schedule">
     <%= image_tag @person.image.url(:large), class: 'img-show' if @person.image? %>
     <%= @person.schedule %>
   </section>
 </article>
